/* första sidan grid */
.layout-page1 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "hd hd hd nav"
    "as  as sect sect"
    "fo  fo fo   fo";
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
  background-color: #eafaf1;
}
header,
nav,
aside,
section.main-section,
footer {
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
header {
  grid-area: hd;
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: white;
  display: radius;
  align-items: center;
  text-align: center;
  gap: 20px;
}

header h1 {
  font-size: 2.4rem;
}
nav {
  grid-area: nav;
  background-color: #27ae60;
  color: white;
}

nav p {
  font-weight: bold;
}
aside {
  grid-area: as;
  background-color: #d5f5e3;
}

aside h2 {
  color: #27ae60;
}

section.main-section {
  grid-area: sect;
  background-color:  #d5f5e3;
}
section.main-section h2 {
  color: #2ecc71;

}
footer {
  grid-area: fo;
  background-color: #2ecc71;
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

/* för andra sidan */
.layout-page2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "hd hd hd nav"
    "main main main aside"
    "section section section aside"
    "fo fo fo fo";
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
  background-color: #eafaf1;
}
/* för tredje sidan */
.layout-page3 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "hd hd hd nav"
    "section section section section"
    "main main main main"
    "fo fo fo fo";
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
  background-color: #eafaf1;
}

main {
  grid-area: main;
  text-align: center;
  background-color: #d5f5e3;
}
section.page-section {
  grid-area: section;
  text-align: center;
  background-color: #d5f5e3;
}
aside.page-aside {
  grid-area: aside;
  text-align: center;
  background-color: #d5f5e3;
}

main,
section.page-section,
aside.page-aside {
  padding: 20px;
  border-radius: 12px;
  background-color: #d5f5e3;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
section.page-section h2 {
  color: #2ecc71;
  text-align: center;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.content-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 15px auto;
  display: block;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.aside-img {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin: 10px auto;
  display: block;
  border-radius: 12px;
}
